/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; padding:10 }
th {background-color: grey;color: white;}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }
a:link, a:visited{
    color: #1122CC;
}

.f-left {
    float: left;
}
.f-right {
    float: right;
}

.clear{
    clear: both;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


body {
    height: 100%;
    height: 100%;
	background:#fff; 
	font:12.35px Arial,Helvetica,sans-serif;
}
.topline{
    background: none repeat scroll 0 0 #5A96FA;
    height: 2px;
}
.container{
    width: 1000px;
    margin: 30px auto;
    color:#000 ;
}
h3{
    font-size: 18px;
    padding: 14px;
    font-weight: bold;
}

/*******/
#topbar{
    background: url(../images/top-line.png) no-repeat scroll center top #FFFFFF;
    min-height: 75px;
    padding-top: 6px;
}
.row {
    margin: 0 auto;
    max-width: 100%;
    min-width: 768px;
    width: 1000px;
    border-bottom: 2px solid #DADADA;
    margin-bottom: 30px !important;
}
/****/
.list-detail{
    width: 528px;
    padding-bottom: 30px;
}
ol.search li{
    list-style: none;
}
ol.search li.item{
    margin-bottom: 20px;
    margin-top: 0;
    font-family: arial,sans-serif;
    font-size: small;
    line-height: 1.2
}
.contentItem{
    display: inline-block;
    position: relative;
    width: 100%;
}
.contentItem h3{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: medium;
    padding: 0;
}
.contentItem h3 a:link{
    color: #1122CC;
    cursor: pointer;
    font-weight: normal;
    font-size: medium;
     white-space: nowrap;
}

em {
    font-style: normal;
    font-weight: bold;
}
.des{
    color: #222222;
    max-width: 42em;
}
.linkItem{
    display: block;
    margin-bottom: 1px;
}
.linkItem a:link, .linkItem a:visited , .linkItem b{
    color: #009933;
    font-style: normal;
}
.des .st{
    line-height: 1.24;
    color: #222222;
}
.des .st em {
    color: #000000;
}

.keyword{
    margin: 10px 0px;
    font-size: 18px;
    padding-bottom: 3px;
    border-bottom: 1px solid #EBEBEB;
    width: 528px;
}

/*****/
.sb_foot {
    border-top: 1px solid #CCCCCC;
    clear: both;
    float: left;
    font-size: 11px;
    line-height: 23px;
    width: 528px;
}
.sb_foot ul {
    clear: both;
    color: #777777;
    margin: 7px 0 43px 0px;
    display: block;
    font-size: 11px;
    height: 60px;
    line-height: 23px;
}
.sb_foot li {
    display: inline;
}
.sw_footL a{
    color: #777777;
    clear: both;
    text-decoration: none;
}
.sb_foot a, .sb_foot span {
    margin: 0.4em;
}
a#sb_feedback {
    color: #0044CC;
}
/*****/
.list-key{
    padding: 0 20px 40px;
    width: 528px;
}
.list-key ol li{
    line-height: 30px;
}
.list-key ol li:last-child{
    border-bottom: none;
}
.list-key ol li a {
    background: url(../images/blue-pin.jpg) no-repeat scroll 0 0 transparent;
    padding: 0 0 0 20px;
}
.list-key ol li em{
    color: #666666;
    font-weight: normal;
    padding-left: 10px;
    font-size: 12px;
}
/**************/
/* ========== Content pagination ========== */

.for_table { border: 1px solid #ccc; };


.pagination { margin: auto; width: auto; text-align: left;  }
.pages { padding-bottom: 25px; }
.pages li.prev { margin-right: 15px; }
.pages li.next { margin-left: 15px; }
.pages li {  display: inline-block; margin: 5px 2px;color: #555; } 
.pages li a { height: 25px; padding: 4px 8px; text-decoration: none; color: #555;background:#fdfdfd; border: 1px solid #d9d9d9; font-size: 11px; box-shadow: 1px 1px 2px #F5F5F5; border-radius: 0px !important;}
.pages li a:hover ,.pages li .active { 
    -moz-transform: scale(1.1) rotate(0deg);
	-webkit-transform: scale(1.1) rotate(0deg);
	-o-transform: scale(1.1) rotate(0deg);
	-ms-transform: scale(1.1) rotate(0deg);
	transform: scale(1.1) rotate(0deg);
	background-color: #c2e3f0!important;
		color: #333333 ;
	border: 1px #34667a solid;
	-moz-box-shadow:1px 1px 2px #cccccc;
	-webkit-box-shadow:1px 1px 2px #cccccc;
	box-shadow:1px 1px 2px #cccccc;
     }
.pages li .active:hover { background: #2a313d; }





/************/
.rating-bottom{
    position: fixed;
    bottom: 0;
    background: url(../images/bg_nav.png) repeat-x left center;
    width: 100%;
}
.bottomBody{
    width: 1000px;
    margin: 0px auto;
}

.btnSubmit{
    width: 108px;
    height: 41px;
    background: url(../images/btnSubmit.png) no-repeat left center;
    float: left;
    border: none;
    margin: 3px 0px 0px 30px;
    cursor: pointer;
}
/*             styles for the star rater                */	
.star-rating{
	list-style:none;
	margin: 9px 0px;
    float: left;
	padding:0px;
	width: 125px;
	height: 25px;
	position: relative;
	overflow:hidden;
	background: url(../images/all_start.png) top left repeat-x;		
}
.star-rating li{
	padding:0px;
	margin:0px;
	width:25px;
	height:25px;
	/*\*/
	float: left;
	/* */
}
.star-rating li a{
	display:block;
	width:25px;
	height: 25px;
	line-height:25px;		
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	overflow:hidden;
}
.star-rating li a:hover{
	background: url(../images/all_start.png) left bottom;
	z-index: 2;
	left: 0px;
	border:none;
}
.star-rating a.one-star{
	left: 0px;
}
.star-rating a.one-star:hover{
	width:25px;
}
.star-rating a.two-stars{
	left:25px;
}
.star-rating a.two-stars:hover{
	width: 50px;
}
.star-rating a.three-stars{
	left: 50px;
}
.star-rating a.three-stars:hover{
	width: 75px;
}
.star-rating a.four-stars{
	left: 75px;
}	
.star-rating a.four-stars:hover{
	width: 100px;
}
.star-rating a.five-stars{
	left: 100px;
}
.star-rating a.five-stars:hover{
	width: 125px;
}
.star-rating li.current-rating{
	background: url(../images/all_start.png) left bottom;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

/* remove halo effect in firefox   */
a:active{
	outline: none;
}		